<nav>
    <ul>
        <li><a class="active" href="/about">About</a></li>
        <li><a class="active" href="/flights">Flights</a></li>
        <li><a class="active" href="/planes">Planes</a></li>
        <li><a class="active" href="/airports">Airports</a></li>
        <li><a class="active" href="/updates">Update</a></li>
        <li style="float:right"><a class="active" href="/login">Logout</a></li>
    </ul>
</nav>