<html lang = en>
<head>
    <script defer>
        document.addEventListener('click', e => {
            const isDropdownButton = e.target.matches("[data-dropdown-button]")
            if (!isDropdownButton && e.target.closest("[data-dropdown]") != null) return
            let currentDropdown
            if (isDropdownButton) {
                currentDropdown = e.target.closest("[data-dropdown]")
                currentDropdown.classList.toggle('active')
            }
            document.querySelectorAll("[data-dropdown].active").forEach(dropdown => {
                if (dropdown === currentDropdown) return
                dropdown.classList.remove('active')
            })
        })
    </script>
</head>
<div class="navbar">
    <div class="dropdown" data-dropdown>
        <button class="dropbtn" data-dropdown-button>Menu</button>
        <div class="dropdown-content info-grid">
            <a  href="/about"> About </a>
            <a href="/map"> Map </a>
            <a  href="/flights"> Flights </a>
            <a  href="/planes"> Planes </a>
            <a  href="/airports"> Airports </a>
            <a  href="/updates"> Update </a>
        </div>
    </div>
    <a  style=float:left class="dropbtn logout-btn" href="/login"> Logout </a>
</div>
