<html lang = en>
<head>
    <title>
        About Page
    </title>
    <link rel="stylesheet" href="stylesheet.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="head">
    <%- include('partials/head')%>
</div>

<%- include('partials/nav')%>

<div class="about">
    <h1> About Me </h1>
    <p class="label">Hi my name is Gerald and this is my first website. Originally I began developing this web
    application for a school project, but as time went on I knew that I could develop this site even more and serve
    it on the public internet. This was a full stack project, so everything you can see and all the operations working
    in the background were all set up by me. The web server with all my front end code is running on an AWS EC2
    instance using and Ubuntu OS. The app server with all my API calls are also running on an EC2 instance using
    an Ubuntu OS. For both servers I am using Nginx as a reverse proxy to make routing easier. The app server also
    utilizes Gunicorn as a web server gateway interface to handle multiple requests to the API's. The database I am
    using is an AWS RDS that is running MySql. The site is far from done as I fully intend to update and upgrade
    it further to show my capabilities in software development. That being said, there may be times when the site is
    down and unreachable, but I fully intend to keep the site running as often as possible. With all that out of the
    way, I invite you to poke around and take a look at my work.</p>
</div>

</body>
</html>